.world-v1 {
  margin: auto;
  position: relative;
}

.world-v1 .square {
  position: absolute;
  background: #45A54C;
  border: 1px solid #9de39d;
  margin: 0px 1px -1px 0;
  overflow: hidden;
  text-align: center;
}

.world-v1 .emoji {
  text-align: center;
  position: absolute;
}