.app {
  
}

.chess-board {
  margin: 40px auto 0px auto;
  width: fit-content;
}

.chess-cell {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 5px;
  margin: 1px;
  font-size: 1.8em;
  cursor: pointer;
  vertical-align: top;
  background: #eee;
}

.chess-row:nth-child(even) .chess-cell:nth-child(even) {
  background: #ccc;
}
.chess-row:nth-child(odd) .chess-cell:nth-child(odd) {
  background: #ccc;
}


.chess-cell {
  position: relative;
  user-select: none;
}

.chess-cell .piece {
  z-index: 1;
}

.chess-cell.cell-focus1 {
  border: 2px solid rgb(0, 150, 224);
}

.chess-cell .focus2 {
  display: block;
  width: 10px;
  height: 10px;
  left: 20px;
  top: 20px;
  border-radius: 20px;
  background: rgb(0, 150, 224);
  position: absolute;
  z-index: 0;
}


/* 
.chess-board. */