.App {
}

.tic-tac-toe-board {
  margin: auto;
  width: fit-content;
}


.tic-tac-toe-board .row {
}

.tic-tac-toe-board .row .cell {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #444;
  margin: 10px;
  cursor: pointer;
  vertical-align: top;
  text-align: center;
  font-size: 1.8em;
}


.buttons {
  text-align: center;
}

.buttons button {
  padding: 5px 10px;
  margin: 10px;
}


.winner {
  text-align: center;
}